@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

[data-aos^=hide][data-aos^=hide] {
    opacity: 1;
    transition-property: opacity, transform
}

[data-aos^=hide][data-aos^=hide].aos-animate {
    opacity: 0;
    transform: translate(0)
}

table, th, td {
  border: 1px solid black;
}